
button {
    border:3px solid rgb(177, 177, 177);
    border-radius: 50px 50px;
}

@mixin buttonPosition() {
    // top:27%;
    
    width: 35%;
    padding: 3px;
    height: 75px;
}

// @mixin buttonPosition($position) {
//     top:27%;
//     $position:10px;
//     width: auto;
//     padding: 3px;
//     height: 75px;
// }

// .playCards {
//     // @include buttonPosition(right);
// }


.shuffleButton, 
.playCards {
    @include buttonPosition();
    
}

.ui.basic.button {
    // background-color: aqua !important;
    border-radius: 13px !important;
}

.buttonGroup {
    display:flex;
    justify-content: center;
    height: 150px;
    width: 100%;
    max-width:1500px;
    top:75%;
    position: absolute;
    
}

