
.cardtable {
    display:grid;
}



.cardSelected {
    box-shadow: -3px -3px 8px rgba(104, 3, 3, 0.712);
    
    position: relative;
    top: -45px;
    
}

.cardSelected img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.cardSelected img:hover {
    overflow:hidden;
    transform: scale(1.8);
    -moz-transform: scale(1.8);
    -webkit-transform: scale(1.8);
}



.playerHand {
    display:grid;
    /* repeat the 5 cols */
    grid-template-columns: repeat(5,1fr);
    position: absolute;
    top: 25%;
    grid-gap:10px;
}

.score {
    color:white;
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 50%;
    position: relative;
    z-index: 10;
    text-align: center;
    box-shadow: 3px 3px 4px gray;
    
    /* when content overflows, the circle doesn't work
     need overflow:hidden to display the circle */
    /* overflow:hidden; */

}



.card {
    border: 1px solid gray; 
    border-radius: 10%;
    overflow: hidden;
    min-width: 75px;
    /* width: 200px;
    height: 200px;
    border-radius: 50%; */
    
}

.card img {
    width:120%;
    /* height:auto; */
    transform: scale(1.5);
    
}

.card:hover {
    box-shadow: -3px -3px 12px rgb(80, 72, 63);
    cursor:pointer;
}

/* phones */

@media screen and (max-width:420px) {
   body {
    background-color: rgb(226, 228, 226);     
    } 
   
    h1, button.showScores {

        display: none; 
        /* visibility: hidden; el takes up the same space */
    }

 

    h1.glamour, h1.bikini, 
    h1.cartoon, h1.lingerie,
    h1.wildcard, h1.spank
     {
     display: block;   
    }
    

    

    .card {
        height: 175px;
        width:175px;
    }

    .playerHand {
        /* display:flexbox; */
        margin: -180px auto;
    }

      .card img {
        width:100%;
        /* transform: scale(1.65); 
        /* padding:25px; */
    }

    .cardSelected {
        top:0px;
        border: 1px solid gray;
        z-index: 100;
        position: relative;
    }

 

    .playerHand .card:nth-child(1).cardSelected {
        /* margin-left: 15px; */
        top: 15px;
        left:15px;
    }

    .playerHand .card:nth-child(2).cardSelected {
        /* margin-left: 15px; */
       
        top: 15px;
        right:15px;
    }

    .playerHand .card:nth-child(4).cardSelected {
        /* margin-left: 15px; */
       
        top: -15px;
        left:15px;
    }

    .playerHand .card:nth-child(5).cardSelected {
        /* margin-left: 15px; */
       
        top: -15px;
        right:15px;
    }

    /* general positions for cards on small screens */
    .playerHand .card:nth-child(1) {
        margin-left: 5px;
    }

    .playerHand .card:nth-child(3) {
        margin: 190px -285px;
    }

    .playerHand .card:nth-child(4)
     {    
        margin: 375px -380px;
    }

    .playerHand .card:nth-child(5)
     {    
        margin: 375px -205px;
    }

}


/* for BIGGER screens! */
@media screen and (min-width:790px) {


.cardtable {
    
    text-align: center;
    margin:5px;
    color:blue;
}

/* verify this is needed -- doesn't appear to do anything */
/* .shuffleButton, .playCards {
    width: 20%;
    position:relative;
    left:50px;
} */

.playerHand {
    position: absolute;
    top: 20%;
}

.card {
    max-width: 260px;
    width:90%;
    max-height:475px;
    
}



.card img {
    width:80%;
    
}

}
/* end style for bigger screen */




/* TODP: add sass; add variable to reuse between each of these eleemnts */
.cartoon {
    background-color:darkturquoise;

    color:white;
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 50%;
    position: inherit;
    z-index: 10;
    text-align: center;
    box-shadow: 3px 3px 4px gray;
    
}

.bikini {
  
    background-color: chartreuse;

    color:white;
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 50%;
    position: inherit;
    z-index: 10;
    text-align: center;
    box-shadow: 3px 3px 4px gray;
    
    
}

.lingerie {
     /* height: 100px;
    width: 300px; */
/*
    border-radius: 50%;
    position: absolute;
    z-index: 10; */
    background-color:crimson;
   
    color:white;
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 50%;
    position: inherit;
    z-index: 10;
    text-align: center;
    box-shadow: 3px 3px 4px gray;
    
}

.spank{
    /* height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    z-index: 10; */
    background-color: chocolate;

    color:white;
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 50%;
    position: inherit;
    z-index: 10;
    text-align: center;
    box-shadow: 3px 3px 4px gray;
}

 .glamour{
    /*    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    z-index: 10; */
    background-color: burlywood;

    color:white;
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 50%;
    position: inherit;
    z-index: 10;
    text-align: center;
    box-shadow: 3px 3px 4px gray;
}

.wildcard {
    /* height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    z-index: 10; */
    color: rebeccapurple;
    font-weight: bolder;
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 50%;
    position: inherit;
    z-index: 10;
    text-align: center;
    box-shadow: 3px 3px 4px gray;
    background-color:yellow;

    
}