
button {
    border:3px solid rgb(177, 177, 177);
    border-radius: 50px 50px;
}

@mixin buttonPosition($position) {
    top:27%;
    $position:10px;
    width: auto;
    padding: 3px;
    height: 75px;
}


.shuffleButton {
    @include buttonPosition(left);
}

.playCards {
    @include buttonPosition(right);
}

.buttonGroup {
    display:flex;
    
    height: 150px;
    width: 600px;
    border:1px solid red;
    top:70%;
    position: absolute;

}

